/* COMMON */

  /* Open Sans */
  @font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'),
         url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  /* Open Sans Light */
  @font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSansLight'), local('OpenSans Light'),
         url('../fonts/opensanslight.woff2') format('woff2'),
         url('../fonts/opensanslight.woff2') format('woff');
    font-weight: 100;
    font-style: normal;   
  }

  /* Gilroy Light */
  @font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('GilroyLight'),
         url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff2') format('woff');
    font-weight: 100;
    font-style: normal;
  }

  /* Gilroy Extra Bold */
  @font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Extra Bold'), local('Gilroy ExtraBold'), local('GilroyExtraBold'),
         url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff2') format('woff');
    font-weight: 900;
    font-style: normal;
  }  

  body {
    min-width: 1160px;
    margin: 0px;
    padding: 0px 20px;

    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #464646;
  }

  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    margin: 0px;
    padding: 0px;
  }

  p {
    margin: 0px;
    padding: 0px;
  }

  ul {
    margin: 0px;
    padding: 0px;
  }

  li {
    min-width: 100px;
  }

  .container {
    width: 1160px;
    margin-right: auto;
    margin-left: auto;
  }

  .clearfix {
    content: "";
    display: table;
    clear: both;
  }

  .button {
    position: relative;

    display: block;
    min-width: 160px;

    font-weight: 900;
    font-size: 18px;
    line-height: 40px;
    font-family: "Gilroy", Arial, sans-serif;
    color: rgb(0, 0, 0);
    letter-spacing: 3.6px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;   
  }

  .button::after {
    content: "";

    position: absolute;
    top: 16px;
    bottom: 16px;
    left: 0px;
    z-index: -1;

    width: 100%;
    height: 8px;

    background-color: rgb(240, 197, 46);
  }

  .button:hover::after,
  .button:active::after {
    top: 0px;
    bottom: 0px;

    height: 40px;
  }

  .button:active {
    color: rgba(0, 0, 0, 0.3);
  }

/* HEADER */

  .main-header .container {
    min-height: 185px;
    margin-top: 40px;
    padding-top: 1px;

    background-color: rgba(240, 197, 46, 0.5);
  }

  .main-header .container-long {
    min-height: 298px;
  }

  /* header logo */

    .main-header .header-logo {
      position: relative;
      top: -20px;

      width: 1042px;
      height: 36px;
      padding-left: 59px;
      padding-right: 59px;
    }

    .header-logo a {
      display: block;
      width: 164px;
      height: 36px;
    }

    .header-logo a:hover {
      opacity: 0.6;
    }

    .header-logo a:active {
      opacity: 0.3;
    }

    .header-logo img {
      width: 164px;
      height: 36px;
    }

  /* header top */

    .main-header .header-top {
      width: 1040px;
      height: 50px;
      margin-top: 3px;
      padding-right: 60px;
      padding-left: 60px;
    }

    /* search block */

      .header-top .header-search-block {
        float: left;
        width: 440px;
        height: 50px;
        margin-right: 80px;
      }

      .header-search-block form::after {
        content: "";
        display: table;
        clear: both;
      }

      .header-search-block .input-search {
        display: block;
        float: left;
        width: 316px;
        height: 15px;
        margin-left: 3px;      
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 23px;
        padding-left: 35px;

        font-weight: 300;
        font-size: 15px;
        line-height: 36px;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 0.15px;
        color: #000000;

        background-image: url('../img/search.png');
        background-position: 0px 11px;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: transparent;
      }

      .header-search-block .input-search::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }  

      .header-search-block .input-search:hover::placeholder {
        color: rgba(0, 0, 0, 0.6);
      }

      .header-search-block .input-search:focus,
      .header-search-block:active .input-search {
        outline: none;
        border-color: #000000;
      }   

      .header-search-block .input-search:focus::placeholder {
        color: rgba(0, 0, 0, 1);
      }    

      .header-search-block .button-search {
        float: right;
        width: 0px;
        height: 50px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;

        font-weight: 300;
        font-size: 15px;
        line-height: 36px;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 0.15px;
        color: #000000;

        background-color: transparent;
        border-width: 0px;
        border-style: solid;
        border-color: #000000;
      }

      .input-search:focus + .button-search,
      .header-search-block .button-search:focus
      .header-search-block .button-search:active {
        min-width: 86px;

        border-width: 2px;
      }

      .header-search-block .button-search:hover {
        color: rgba(255, 255, 255, 1);

        background-color: #000000;
      }

      .header-search-block .button-search:active {
        color: rgba(255, 255, 255, 0.3);

        background-color: #000000;

        outline: none;
      }      

    /* user panel */

      .header-account-block a,
      .header-compare-block a,
      .header-cart-block a {
        font-weight: 300;
        font-size: 15px;
        line-height: 36px;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 0.15px;
        text-decoration: none;
        color: #000000;
      }

      .header-account-block a:hover,
      .header-compare-block a:hover,
      .header-cart-block a:hover {
        opacity: 0.6;
      }

      .header-account-block a:active,
      .header-compare-block a:active,
      .header-cart-block a:active {
        opacity: 0.3;
      }

      .header-top .header-account-block {
        float: left;
        width: 260px;
        height: 50px;
        margin-right: 27px;
        margin-left: 20px;
      }

      .header-account-block a:before {
        content: "";
        display: inline-block;
        width: 13px;
        height: 12px;
        margin-right: 13px;

        background-image: url('../img/user.png');
      }

      .header-top .header-compare-block {
        float: left;
        width: 93px;
        height: 50px;
        margin-right: 37px;
      }

      .header-compare-block a:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 10px;

        background-image: url('../img/compare.png');
      }

      .header-top .header-cart-block {
        float: left;
        width: 83px;
        height: 50px;
      }

      .header-cart-block a:before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 10px;

        background-image: url('../img/cart.png');
      }

  /* main menu */

    .main-header .main-menu {
      width: 1041px;
      height: 50px;
      margin-top: 16px;
      margin-bottom: 36px;
      padding-right: 60px;
      padding-left: 59px;
    }

    .main-menu .menu-list {
      height: 22px;
      padding-top: 3px;
      padding-right: 0px;
      padding-bottom: 25px;
      padding-left: 0px;

      font-size: 0px;
    }

    .main-menu .menu-item {
      display: inline-block;
      height: 22px;

      vertical-align: top;
    }

    .menu-item a {
      font-weight: 800;
      font-size: 18px;
      line-height: 22px;
      font-family: 'Gilroy', sans-serif;
      letter-spacing: 0.2em;
      text-decoration: none;
      text-transform: uppercase;
      color: #000000;
    }

    .main-menu .menu-item:nth-child(1) {
      width: 220px;
      margin-right: 320px;
    }

    .main-menu .menu-item:nth-child(2) {
      width: 140px;
      margin-right: 20px;
    }

    .main-menu .menu-item:nth-child(3) {
      width: 120px;
      margin-right: 100px;
    }

    .main-menu .menu-item:nth-child(4) {
      width: 120px;
    }

    .main-menu .sub-menu-list {
      display: none;
    }

    .main-menu .sub-menu-column {
      display: inline-block;

      vertical-align: top;
    }

    .main-menu .sub-menu-column-list {

    }

    .main-menu .sub-menu-column-item {

    }

    .main-menu .sub-menu-item {

    }

/* INDEX HERO */

  .index-hero {

  }

  .index-hero .container {

  }

  .index-hero input[type=radio] {
    display: none;
  }

  .slider-hero {
    position: relative;

    margin-top: -110px;
  }

  .slider-hero .slide {
    display: none;
  }

  .slider-hero .slide::after {
    content: "";
    display: table;
    clear: both;
  }

  #slider-hero-1:checked ~ .slider-hero .slide:nth-child(1),
  #slider-hero-2:checked ~ .slider-hero .slide:nth-child(2),
  #slider-hero-3:checked ~ .slider-hero .slide:nth-child(3) {
    display: block;
  }

  /* hero image */

    .slider-hero .hero-image {
      float: left;
      width: 500px;
      height: 500px;
      margin-right: 20px;
      margin-left: 60px;

      line-height: 500px;
      text-align: center;

    }

    .hero-image img {
      vertical-align: middle;
    }

  /* hero content */

    .slider-hero .hero-content {
      position: relative;
      float: right;
      width: 500px;
      min-height: 500px;
      margin-right: 60px;
      margin-left: 20px;
    }

    .slider-hero .hero-content::before {
      content: "";

      position: absolute;
      top: 0px;
      left: 0px;

      width: 100px;
      height: 7px;

      background-color: rgb(255, 255, 255);
    }

    .slider-hero .hero-numeric {
      position: absolute;
      top: -52px;
      right: -12px;

      font-weight: 900;
      font-size: 179.2px;
      line-height: 179.2px;      
      font-family: "Gilroy", Arial, sans-serif;
      letter-spacing: 0.55px;
      color: rgb(255, 255, 255);
    }

    .slider-hero p {
      margin-top: 8px;
      margin-bottom: 0px;

      font-weight: 100;
      font-size: 15px;
      line-height: 30px;      
      font-family: "Open Sans", Arial, sans-serif;
      letter-spacing: 0.15px;
      color: rgb(70, 70, 70);         
    }

    .slider-hero .hero-lead {
      margin-top: 42px;
      margin-bottom: 20px;

      font-weight: 900;
      font-size: 47px;
      line-height: 56px;      
      font-family: "Gilroy", Arial, sans-serif;
      letter-spacing: 0.55px;
      color: rgb(0, 0, 0);    
    }


  /* hero slider dots */

    .slider-hero .slider-hero-dots {
      position: absolute;
      top: 290px;
      right: 60px;
    }

    .slider-hero  .slider-hero-dots::after {
      content: "";
      display: table;
      clear: both;
    }

    .slider-hero-dots label {
      display: block;
      float: left;
      width: 4px;
      height: 4px;
      margin-right: 23px;

      border-width: 3px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.3);
      border-radius: 4px;

      cursor: pointer;
    }

    .slider-hero-dots label:hover {
      border-color: rgba(0, 0, 0, 0.4);
    }

    .slider-hero-dots label:active {
      border-color: rgba(0, 0, 0, 1);
    }

    #slider-hero-1:checked ~ .slider-hero label:nth-child(1),
    #slider-hero-2:checked ~ .slider-hero label:nth-child(2),
    #slider-hero-3:checked ~ .slider-hero label:nth-child(3) {
      border-color: rgba(0, 0, 0, 1);
    }

/* INDEX CATEGORIES */

    .index-categories {
      margin-bottom: 126px;
    }

    .index-categories .container {

    }

    .index-categories ul {
      font-size: 0px;
    }

    .index-categories li {
      display: inline-block;
      width: 160px;
      min-height: 276px;
      margin-right: 40px;

      vertical-align: top;
    }

    .index-categories li:last-child {
      margin-right: 0px;
    }

    .index-categories .categories-image-block,
    .index-categories .categories-capture {
      display: block;
    }

    .index-categories .categories-image-block {
      width: 160px;
      height: 160px;
      margin-bottom: 34px;

      background-color: rgba(240, 197, 46, 0.5);
    }

    .index-categories li:hover > .categories-image-block {
      background-color: rgba(240, 197, 46, 1);
    }

    .index-categories li:active .categories-capture, 
    .index-categories li:active .categories-image {
      opacity: 0.3;
    }    

    .index-categories .categories-capture {
      width: 160px;
      min-height: 78px;

      font-weight: 900;
      font-size: 18px;
      line-height: 22px;
      font-family: "Gilroy", Arial, sans-serif;
      color: rgb(0, 0, 0);
      letter-spacing: 0.15px;
      text-decoration: none;
    }

/* INDEX SERVICES */

  .index-services {
    position: relative;

    padding-bottom: 68px;
  }

  .index-services .container {

  }

  .index-services .container::before {
    content: "";
    
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;

    display: block;
    width: 100%; 
    height: 93.5%;

    background-color: rgb(229, 229, 229);
  }  

  .index-services .container::after {
    content: "";

    display: table;
    clear: both;    
  }  

  .index-services input[type=radio] {
    display: none;
  }

  /* services tabs */

    .index-services ul {
      position: relative;

      float: left;
      width: 280px;
      min-height: 240px;

      list-style-type: none;
    }

    .index-services ul::after {
      content: "";
    
      position: absolute;
      top: -80px;
      left: 277px; 

      display: block;
      width: 7px; 
      height: 133.33%;

      background-color: rgb(0, 0, 0);           
    }

    .index-services li {

    }

    .index-services label {
      width: 160px;
      height: 40px;

      margin-bottom: 24px;
    }  

    .index-services .button:active {
      color: rgb(247, 225, 132);
    }

    .index-services .button:active::after {
      width: 278px;

      background-color: rgb(0, 0, 0);
    }

  /* services slides */  

    .index-services .services {
      position: relative;

      float: left;
      width: 460px;
      min-height: 186px;
      padding-top: 0px;
      padding-right: 300px;
      padding-bottom: 54px;
      padding-left: 120px;

    }

    .index-services .service-1,
    .index-services .service-2,
    .index-services .service-3 {
      display: none;
    }

    #slider-services-1:checked ~ .services .service-1,
    #slider-services-2:checked ~ .services .service-2,
    #slider-services-3:checked ~ .services .service-3 {
      display: block;
    }    

    #slider-services-1:checked ~ ul label[for="slider-services-1"],
    #slider-services-2:checked ~ ul label[for="slider-services-2"],
    #slider-services-3:checked ~ ul label[for="slider-services-3"] {
      color: rgb(247, 225, 132);
    } 

    #slider-services-1:checked ~ ul label[for="slider-services-1"]::after,
    #slider-services-2:checked ~ ul label[for="slider-services-2"]::after,
    #slider-services-3:checked ~ ul label[for="slider-services-3"]::after {
      top: 0px;
      bottom: 0px;
      
      width: 278px;
      height: 40px;

      background-color: rgb(0, 0, 0);
    }         

    .index-services h2 {
      margin-bottom: 28px;

      font-weight: 900;
      font-size: 47px;
      line-height: 56px;
      font-family: "Gilroy", Arial, sans-serif;
      color: rgb(0, 0, 0);
      letter-spacing: 0.15px;
    }

    .index-services p {
      font-weight: 100;
      font-size: 15px;
      line-height: 30px;
      font-family: "Open Sans", Arial, sans-serif;
      color: rgb(70, 70, 70);
      letter-spacing: 0.15px;
    }

    .index-services .service-1::after {
      content: "";

      position: absolute;
      top: 5px;
      right: 86px;

      width: 136px;
      height: 164px;

      background-image: url("../img/delivery.png");
    }

    .index-services .service-2::after {
      content: "";

      position: absolute;
      top: -20px;
      right: 66px;

      width: 171px;
      height: 195px;

      background-image: url("../img/warranty.png");
    }  

    .index-services .service-3::after {
      content: "";

      position: absolute;
      top: -21px;
      right: 92px;

      width: 156px;
      height: 188px;

      background-image: url("../img/credit.png");
    }        

/* INDEX BRANDS */

  .index-brands {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .index-brands .container {

  }

  .index-brands ul {
    font-size: 0px;
    line-height: normal;

    list-style-type: none;
  }

  .index-brands li {
    display: inline-block;
    margin-right: 40px; 

    font-size: 15px;
  }

  .index-brands li:last-child {
    margin-right: 0px;
  }


  .index-brands img {
    display: block;
    max-width: 100%;
    height: auto;    
    margin: 0px auto;

    filter: grayscale(1);
    opacity: 0.2;
  }

  .index-brands img:hover {
    filter: grayscale(0);
    opacity: 1;
  }  

/* INDEX INFO */

  .index-info {
   
  }

  .index-info .container {
    
  } 

  .index-info .container::after {
    content: "";

    display: table;
    clear: both;
  } 

  .index-info h2 {
    margin-bottom: 48px;

    font-weight: 900;
    font-size: 47px;
    line-height: 56px;
    font-family: "Gilroy", Arial, sans-serif;
    color: rgb(0, 0, 0);
    letter-spacing: 0.15px;
  }  

  .index-info p {
    margin-bottom: 42px;

    font-weight: 100;
    font-size: 15px;
    line-height: 30px;
    font-family: "Open Sans", Arial, sans-serif;
    color: rgb(70, 70, 70);
    letter-spacing: 0px;
  } 

  .index-info ul {

  }     

  .index-info li {

  } 

  .index-info .button {

  }

  .index-info .index-about,
  .index-info .index-contacts {
    position: relative;

    float: left;
    width: 560px;
    padding-top: 52px;
  }

  .index-info .index-about::before,
  .index-info .index-contacts::before {
    content: "";

    position: absolute;
    top: 0px;
    left: 0px;

    display: block;
    width: 80px;
    height: 6px;

    background-color: rgb(0, 0, 0);
  }
  
  .index-info .button-contacts,
  .index-info .button-about {
    display: table;
    min-width: 260px;
  }


  /* index about */

    .index-info .index-about {
      margin-right: 40px;
    }

    .index-about ul {
      margin-bottom: 70px;

      list-style-type: none;
    }

    .index-about li {
      position: relative;

      padding-left: 34px;

      font-weight: 900;
      font-size: 16px;
      line-height: 40px;
      font-family: "Gilroy", Arial, sans-serif;
      color: rgb(0, 0, 0);
      letter-spacing: 0px;      
    }

    .index-about li::before {
      content: "";

      position: absolute;
      top: 15px;
      left: 0px;

      display: block;
      float: left;
      width: 4px;
      height: 4px;

      border-width: 3px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.3);
      border-radius: 4px;
    }

  /* index write us */    

    .index-info .index-map-popup {
      display: none;
    }

  /* index contacts */
  
    .index-info .index-contacts {

    }  

    .index-contacts .map-link {
      display: block;
      margin-bottom: 70px;

      line-height: normal;
    }

    .index-contacts img {

    }

  /* index map popup */  

    .index-info .index-write-us {
      display: none;
    }

/* FOOTER */

  .main-footer {
    min-height: 185px;
    margin-top: 82px;

    background-color: rgb(70, 70, 70);
  }

  /* footer left */

    .main-footer .footer-left {
      float: left;
      width: 360px;
    }

  .main-footer .footer-center {
    float: left;
    width: 440px;
  }

  .main-footer .footer-right {
    float: left;
    width: 360px;
  }


/* TO DO */

  .catalog-header .title {
    font-weight: 800;
    font-size: 47px;
    line-height: 56px;
    font-family: "Gilroy", Arial, sans-serif;
    color: #000000;
  }

  .index-info .title {
    font-weight: 800;
    font-size: 47px;
    line-height: 56px;
    font-family: "Gilroy", Arial, sans-serif;
    color: #000000;
  }

  .index-hero {
    display: none;
  }
